<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RollFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <!--<file>logFile.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover. Make sure the path matches the one in the file element or else
                         the rollover logs are placed in the working directory. -->
            <fileNamePattern>logFile_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 15 days' worth of history -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yy HH:mm:ss.SSS} [%thread] %-5level %logger{36} +++ %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DiagramFile" class="ch.qos.logback.core.FileAppender">
        <file>diagrams.log</file>
        <append>false</append>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DiagramCSVFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<append>false</append>-->
        <file>diagrams___.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- daily rollover. Make sure the path matches the one in the file element or else
                         the rollover logs are placed in the working directory. -->
            <!--<fileNamePattern>diagrams%d{yyyy-MM-dd}.%i.csv</fileNamePattern>-->
            <fileNamePattern>diagrams_%i.csv</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- ********************************* Loggers *************************** -->

    <!-- Logger name must match loggers in code -->
    <logger name="no.eatools.diagramgen.EaDiagram" level="INFO" additivity="true">
        <!--<logger name="no" level="DEBUG">-->
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="DiagramFile"/>
    </logger>

    <!-- Logger name must match loggers in code -->
    <logger name="no" level="DEBUG" additivity="true">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollFile"/>
    </logger>

    <!-- Logger name must match loggers in code -->
    <logger name="diagramLogger" level="INFO" additivity="true">
        <appender-ref ref="DiagramCSVFile"/>
    </logger>

    <root level="warn">
        <!--<appender-ref ref="STDOUT"/>-->
    </root>

</configuration>
